body {
  height: 100vh;
  background: #9ccc65;
}
h1 {
  text-align: center;
  color: rgb(112, 5, 161);
}
form {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 200px;
  background-color: black;
  padding: 20px;
}
form label {
  color: white;
  justify-self: flex-start;
  font-size: 20px;
}
form input {
  outline: none;
  height: 30px;
  width: 90%;
  -webkit-appearance: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: aqua;
  caret-color: brown;
  box-shadow: 2px 2px 2px 0 red;
  margin: auto;
}

button {
  position: relative;
  background-color: darkblue;
  color: grey;
  height: 30px;
  width: 80px;
  box-shadow: 2px 2px 2px 0 red;
  border: none;
  z-index: 2;
  margin: auto;
}
a {
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
  padding: 9px 25px;
}
